@import url('https://fonts.googleapis.com/css?family=Sriracha');
/* title */
@import url('https://fonts.googleapis.com/css?family=Merienda');
/* project h */
@import url('https://fonts.googleapis.com/css?family=Coda');
/* project p */
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
      user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
body{
    background-color: #0a192f;
}

h1,h2,h3,h4,h5,h6,p{
    cursor: text;
}
 /************************************* scroll start****************************************************** */
        /* width */
        ::-webkit-scrollbar {
            width: 15px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background-color: #0a192f;

        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #f1f1f1;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #e1e1e1;
        }


        /************************************* scroll end****************************************************** */

/* headder part with animations*/
.masthead {
    position: relative;
    padding-top: calc(6rem + 74px);
    padding-bottom: 5rem;
    min-height: 100vh;
    /* background-color: #0a192f; */
    transition: all 500ms ease-in-out;
}


.masthead .masthead-heading {
    font-size: 2.75rem;
    font-family: Sriracha, cursive;
    line-height: 2.75rem;
    letter-spacing: 3px;
    background: rgba(10, 25, 47, 0.5);
    backdrop-filter: blur(5px);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
    background: rgba(10, 25, 47, 0.5);
    backdrop-filter: blur(5px);
}

/* headerplugin */
.cd-headline.loading-bar .cd-words-wrapper::after {
    /* background: linear-gradient(to right, #0a192f, var(--pure)); */
    background: linear-gradient(to right, #2b55cc, #1ecab8);
}

.cd-words-wrapper b {
    padding-bottom: 2px;
}

.masthead .masthead-avatar {
    width: 15rem;
    background: rgba(10, 25, 47, 0.5);
    backdrop-filter: blur(5px);
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }

    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}
@media (max-width: 700px) {
    .masthead {
        padding-bottom: 6rem;
    }
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    border-radius: 1rem;
    background: rgba(10, 25, 47, 0.5);
    backdrop-filter: blur(5px);
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    font-size: 2rem;
    cursor: pointer;
    background: rgba(10, 25, 47, 0.5);
    backdrop-filter: blur(5px);
}
.divider-custom .divider-custom-icon:hover{
    -webkit-animation: rotating 500ms linear ;
    -moz-animation: rotating 500ms linear ;
    -ms-animation: rotating 500ms linear ;
    -o-animation: rotating 500ms linear ;
    animation: rotating 500ms linear ;
}
.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* *********************************************** STICKER START************************************** */
/* all sticker */
.object {
    /* animation: MoveUpDown 20s linear infinite; */
    position: absolute;
    z-index: -1;
}

/* mongo */
.object1 {
    top: 25%;
    right: 6%;
    /* height: 60px; */
    animation: MoveUpDown 20s linear infinite;
}

/* css */
.object2 {
    bottom: 12%;
    right: 12%;
    height: 50px;
    animation: MoveDownUp 15s linear infinite;
}

/* flutter */
.object3 {
    bottom: 12%;
    left: 4.5%;
    height: 50px;
    animation: MoveUpDown 20s linear infinite;
}

/* git */
.object4 {
    top: 50%;
    right: 20%;
    height: 40px;
    animation: MoveUpDown 15s linear infinite;
}

/* github */
.object5 {
    top: 50%;
    left: 10%;
    height: 60px;
    animation: MoveUpDown 10s linear infinite;
}


/* python */
.object6 {
    top: 15%;
    left: 6.5%;
    height: 30px;
    animation: MoveUpDown 20s linear infinite;
}

/* angular */
.object7 {
    top: 55%;
    left:25%;
    height: 55px;
    animation: MoveDownUp 8s linear infinite;
}

/* js */
.object8 {
    top: 15%;
    right: 40%;
    height: 50px;
    animation: MoveUpDown 14s linear infinite;
}

/* nodejs */
.object9 {
    top: 25%;
    left: 25%;
    height: 60px;
    animation: MoveDownUp 15s linear infinite;
}

/* bootstarp */
.object10 {
    bottom: 2.5%;
    left: 45%;
    height: 30px;
    animation: MoveUpDown 10s linear infinite;
}

/* react */
.object11 {
    top: 25%;
    right: 25%;
    height: 35px;
    animation: MoveUpDown 10s linear infinite;
}


/* firbase */
.object12 {
    bottom: 12%;
    left: 20%;
    height: 35px;
    animation: MoveUpDown 10s linear infinite;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-60px);
    }
}

@keyframes MoveDownUp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(60px);
    }
}

@media (max-width: 992px) {
    .object7 {
        height: 40px;
    }

}
@media (max-width: 700px) {
    .object3 {
        height: 20px;
    }
    .object11
    {
        height: 20px;
    }

}
/* *********************************************** STICKER END************************************** */



/* ***********************************************SIDENAV START************************************** */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    /* ************************************* */
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    font-family: "Lato", sans-serif;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0a192f;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #0a192f;
}

.sidenav .closebtn {
    cursor:pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.navbtn{
    position: fixed;
    top: 0.5%;
    left: 1%;
    margin-left: 10px;
    color: #f1f1f1;
    background:transparent;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    /* ************************************* */
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

}

/* *********************************************** SIDENAV END************************************** */





/* *********************************************** ABOUT ME START************************************** */
  
   /* this is for about me */
   .center {
    margin: auto !important;
    text-align: center !important;
}

.spacing {
    margin-top: 5%;
    margin-bottom: 10%;
}

#aboutme {
    background-color: #060b1b;
}

#aboutme p {
    font-size: 25px;
    padding-right: 20px;
}

@media (max-width: 900px) {
    #aboutme p {
        font-size: 20px;
        padding-right: 0px;
    }
}

@media (max-width: 700px) {
    #aboutme p {
        font-size: 15px;
        padding-right: 0px;
    }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;      
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  
/* *********************************************** ABOUT ME END************************************** */


/* ***********************************************PRELOADER START************************************** */
#overlayer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: #0a192f;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 3;
    border: 4px solid #f1f1f1;
    /* top: 50%; */
    /* left: 50%; */
    top :calc( 50% - 15px);
    left: calc( 50% - 15px);
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #f1f1f1;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
/* *********************************************** PRELOADER END************************************** */


/* *********************************************** SKILL START************************************** */
.items {
    height: 140px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(0.98);
    will-change: transform;
    position: relative;
    font-size: 0;
}

.item {
    width: 160px;
    margin-left: 10px;
    height:  100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #0a192f;
    background: #e1e1e1;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.15);
    transition: all .3s;
}
.item:hover{
    letter-spacing: 1.5px;
    background-color: #060b1b;
    box-shadow: 0px 10px 10px rgba(241, 240, 241,0.5) ;
    color: #f1f1f1;
}
.items::-webkit-scrollbar {
    height: 10px;
}
.items::-webkit-scrollbar-track {
    background-color: #0a192f;

}
.items::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    /* border-radius: 10px; */
}

/* ****************hide***************************** */
/* .items::-webkit-scrollbar {
    display: none;
}
.items {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */
/* for firefox */
.hidescrollbar::-webkit-scrollbar {
    display: none;
}
.hidescrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
    
/* *********************************************** SKILL END************************************** */


/* *********************************************** MYTITLE END************************************** */

.mytitle{
    font-family: Merienda, cursive;
    text-align: center;
    font-size: 35px;
    color: rgb(241,241,241);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}
/* *********************************************** MYTITLE END************************************** */


/* *********************************************** CONTACT START************************************** */
#contact{
    background-color: #060b1b;
}
/* .contacttext{
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: normal;
    line-height: 1.6;
    font-family: "Expletus Sans", cursive;
} */
.social{
    display: flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.socialicon{
    margin-left: 10px;
    padding: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    transition: all 0.3s;
    cursor: pointer;
    align-items: center;
  justify-content: center;
}

.socialicon:hover{
    transform: scale(1.25);
    box-shadow: 0px 5px 5px rgba(241, 240, 241,0.5) ;
}

@media (max-width: 760px) {
    .socialicon{
        width: 40px;
        height: 40px;
        padding: 0 8px;
        margin-left: 3px;
    }
}
/* *********************************************** CONTACT END************************************** */

/* *********************************************** PROJECT START************************************** */
.cd-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    background: #060b1b;
    padding: 0 10%;
    border-radius: 2px;
  }

  .cd-container::after {
    content: '';
    display: table;
    clear: both;
  }

  /* -------------------------------- 

Main components 

-------------------------------- */
  #cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: #f1f1f1;
  }

  @media only screen and (min-width: 1170px) {
    #cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    #cd-timeline::before {
      left: 50%;
      margin-left: -2px;
    }
  }

  .cd-timeline-block {
    position: relative;
    margin: 2em 0;
  }

  .cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
  }

  .cd-timeline-block:first-child {
    margin-top: 0;
  }

  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }

  @media only screen and (min-width: 1170px) {
    .cd-timeline-block {
      margin: 4em 0;
    }
  }

  .cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #e1e1e1, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }

  .cd-timeline-img {
    background: #060b1b;
  }

  @media only screen and (min-width: 1170px) {
    .cd-timeline-img {
      width: 30px;
      height: 30px;
      left: 50%;
      margin-left: -15px;
      margin-top: 15px;
      /* Force Hardware Acceleration in WebKit */
      transform: translateZ(0);
      backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }
  }

  .cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #0a192f;
    border-radius: 2px;
    padding: 1em;
    transition: all 300ms;
  }

  .cd-timeline-content:hover {
    box-shadow: 0px 0px 30px rgba(240, 240, 240, 0.6);
  }

  .cd-timeline-content .timeline-content-info {
    
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
  }

  .cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
  }

  .cd-timeline-content h2 {
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0;
    font-family: Coda ,sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .cd-timeline-content p {
    color: rgba(255, 255, 255, 0.7);
    /* font-size: 20px; */
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin: 1em 0;
    line-height: 1.6;
    font-family: "Expletus Sans", cursive;
  }




  .cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #0a192f;
  }

  @media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }

    .cd-timeline-content p {
      font-size: 16px;
      font-size: 1rem;
    }
  }

  @media only screen and (min-width: 1170px) {
    .cd-timeline-content {
      color: white;
      margin-left: 0;
      padding: 1.6em;
      width: 36%;
      margin: 0 5%;
    }

    .cd-timeline-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #0a192f;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
      float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #0a192f;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
      float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
      left: auto;
      right: 122%;
      text-align: right;
    }
  }

  .overlayproj {
    display: block;
    opacity: 0;
    position: absolute;
    bottom: 2%;
  }

  .cd-timeline-content:hover .overlayproj {
    opacity: 1;
    margin-left: 10px;
    transition: 0.5s;
  }

  .overlayproj .fa {
    cursor: pointer;
    color: #f1f1f1;
    font-size: 25px;
    padding: 7px;

  }
  @media only screen and (max-width: 780px) {
    .overlayproj {
        bottom: 0%;
      }
  }

  /* *********************************************** PROJECT END************************************** */